
.body-container{
  position: relative;
}
.menu-btn{
  font-size: 36px;
  text-align: center;
  position: fixed;
  right: 30px;
  display: none;
  opacity: 0;
  bottom: 30px;
  padding: 3px 0;
  background-color: #fff;
  z-index: 9999;
  width: 60px;
  color: $color-primary;
  height: 60px;
  border-radius: 50px;
  box-shadow: 0 0 42px rgba(0, 0, 0, 0.1);
  &:hover{
    box-shadow: 0 0  2px  rgba(0, 0, 0, 0.09);
    color: $color-black;
  }
}
.menu_block{
  background-color: $color-black;
  min-height: 100vh;
  padding: 0;
  top: 0px;
  .logo_box{
    text-align: center;
    padding: 25px 10px;
  }
  
}

.menu_nav{
  width: 100%;
  padding: 0;
  list-style: none;
  margin-left: 0;
  li{
    width: 100%;
    display: inline-block;
    padding: 0;
    margin-top: 2px;
    span{
      display: inline-block;
      padding: 10px 15px 10px 15px;
      background-color: transparent;
      color: $color-light;
      &:hover{
        background-color: $color-primary;
        cursor: pointer;
      }
      &:focus{
        background-color: $color-primary;
      }
    }
  }
  
}


.vh100 {
  height: 100vh;
}
.vh85 {
  height: 86.5vh;
}



//  submenu
  .sub-menu{
    position: absolute;
    right: 0;
    left: 100%;
    z-index: 999999;
    background-color: #99896e;
    padding: 10px;
    display: inline-block;
    min-width: 200px;
    li a{
      text-align: left;
      padding: 10px 25px;
      text-transform: capitalize;
      background-color: transparent;
      &:hover{
        color: #dddddd;
      }
    }
  

}







//responsive slide
@media (max-width: 768px){
  .menu-btn{
    opacity: 1;
    display: block;
  }
  .menu_block {
    min-height: 100%;
    padding: 0;
    max-width: 250px;
    left: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 999999;
    margin-left: -250px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    
  }
  .sidebar_closed .menu_block {
    margin-left: 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
}

